   @font-face {
       font-family: CodeLight;
       src: url(fonts/CodeLight.otf);
   }
   
   .wrapper {
       max-width: 1630px;
       margin: auto;
   }
   
   .navigation {
       height: 160px;
       background-color: #f6f6f6;
   }
   
   .logo {
       background-image: url(image/logo.png);
       background-repeat: no-repeat;
       /*       float: left;*/
       height: 120px;
       width: 120px;
       position: relative;
       top: 20px;
       left: 160px;
   }
   
   ul,
   li {
       list-style-type: none;
   }
   
   .menu {
       margin-left: 740px;
       margin-top: -70px;
   }
   
   .menu>ul>li a:hover {
       background-color: #ffea00;
   }
   
   .menu li {
       float: left;
   }
   
   .menu li a {
       font: bold 16px CodeLight;
       color: #313131;
       text-align: center;
       line-height: 70px;
       text-decoration: none;
       display: inline-block;
       width: 60%;
/*       height: 70px;*/
       margin-left: 90px;
   }
   
   .menuToggle {
       display: none;
       cursor: pointer;
   }
   
   @media screen and (max-width: 560px) {
       .menu {
           display: none;
           position: absolute;
           top: 160px;
           width: 100%;
           text-align: center;
           background: #f6f6f6;
           margin-left: 0px;
           margin-top: 0px;
       }
       .menu li a {
           margin-left: 0px;
           width: 100%;
       }
       .logo {
           position: relative;
           left: 10px;
       }
       
       .menu li {
           float: none;
       }
       
       .menuToggle {
           display: inline-block;
           position: absolute;
           top: 60px;
           left: 390px;
       }
   }
