   @font-face {
       font-family: CodeLight;
       src: url(fonts/CodeLight.otf);
   }
   
   body {
       margin: 0;
   }
   
   .wrapper {
       max-width: 1630px;
       margin: auto;
   }
   /*------------------navigation-----------------*/
   
   .navigation {
       height: 160px;
       background-color: #f6f6f6;
   }
   
   .logo {
       float: left;
       background-image: url(image/logo.png);
       background-repeat: no-repeat;
       height: 120px;
       width: 120px;
       margin-left: 115px;
       margin-top: 20px;
   }
   
   ul,
   li {
       list-style-type: none;
       margin: 0;
   }
   
   .menu {
       float: right;
       overflow: hidden;
       padding: 45px 0;
       margin-right: 70px;
   }
   
   .menu>ul>li a:hover {
       background-color: #ffea00;
   }
   
   .menu :first-child {
       margin-left: 0;
   }
   
   .menu li {
       float: left;
       margin: 0 30px;
   }
   
   .menu li a {
       font: bold 16px CodeLight;
       color: #313131;
       text-align: center;
       line-height: 70px;
       text-decoration: none;
       display: inline-block;
       padding: 0 10px;
   }
   
   .menuToggle {
       display: none;
       cursor: pointer;
   }
   /*---------------слайдер-------------------*/
   
   .slideshow-container {
/*       max-width: 1630px;*/
       position: relative;
       margin: auto;
   }
   
   .mySlides>h1 {
       position: absolute;
       top: 10%;
       left: 30%;
       font-size: 4.375vw;
   }
   
   .mySlides>img {
       width: 100%;
   }
   
   .prev,
   .next {
       cursor: pointer;
       position: absolute;
       top: 45%;
       width: auto;
       margin-top: -22px;
       padding: 1.1vw 11px;
       background-color: #000000;
       color: white;
       font-weight: normal;
       font-size: 2vw;
       /*    transition: 0.6s ease;*/
       /*    border-radius: 0 3px 3px 0;*/
   }
   
   .next {
       right: 1px;
       /*    border-radius: 3px 0 0 3px;*/
   }
   
   .prev:hover,
   .next:hover {
       background-color: rgba(0, 0, 0, 0.3);
   }
   
   .mySlides {
       text-align: center;
       max-height: 700px;
   }
   
   .text {
       color: #f2f2f2;
       font-size: 22px;
       padding: 8px 12px;
   }
   
   .dot {
       cursor: pointer;
       height: 1.5vw;
       width: 1.5vw;
       background-color: #414146;
       display: inline-block;
       transition: background-color:0.6s ease;
   }
   
   .active,
   .dot:hover {
       background-color: #ffea00;
       box-sizing: border-box;
       border: 3px solid #414146;
   }
   
   .fade {
       -webkit-animation-name: fade;
       -webkit-animation-duration: 1s;
       animation-name: fade;
       animation-duration: 1s;
   }
   
   .navMenu {
       position: absolute;
       left: 46%;
       bottom: 6%;
   }
   
   @keyframes fade {
       0% {
           opacity: 0.4;
       }
       100% {
           opacity: 1;
       }
   }
   
   @media screen and (max-width: 1025px) {
       .menu {
           display: none;
           position: absolute;
           top: 160px;
           width: 100%;
           text-align: center;
           background: #f6f6f6;
           padding: 0;
           z-index: 1;
       }
       .menu>ul {
           padding: 0;
       }
       .menu li a {
           width: 100%;
           margin: 0;
           padding: 0;
       }
       .logo {
           position: relative;
           left: 10px;
       }
       .menu li {
           float: none;
           margin: 0;
           z-index: 100;
       }
       .menuToggle {
           float: right;
           margin-top: 55px;
           margin-right: 30px;
           display: inline-block;
       }
       .logo {
           margin-left: 30px;
           position: relative;
       }
       .slideshow-container {
           z-index: 0;
       }
   }
