   @font-face {
       font-family: CodeLight;
       src: url(fonts/CodeLight.otf);
   }
   
   .wrapper {
       max-width: 1630px;
       margin: auto;
   }
   
   .navigation {
       height: 160px;
       background-color: #f6f6f6;
   }
   
   .logo {
       background-image: url(image/logo.png);
       background-repeat: no-repeat;
       float: left;
       height: 120px;
       width: 120px;
       position: relative;
       top: 20px;
       left: 160px;
   }
   
   ul,
   li {
       list-style-type: none;
   }
   
   a {
       /*    text-decoration: none;*/
   }
   
   .menu {
       /*    margin-left: 200px*/
   }
   
   .menu li {
       float: left;
   }
   
   .menu li a {
       font: bold 16px CodeLight;
       color: #313131;
       text-align: center;
       line-height: 70px;
       text-decoration: none;
       display: inline-block;
       /*       position: relative;*/
       /*       top: 45px;*/
       /*       left: 740px;*/
       /*       width: 100%;*/
       /*       height: 70px;*/
       /*       margin-left: 60px;*/
   }
   
   .menuToggle {
       display: none;
       cursor: pointer;
   }
   
   @media screen and (max-width: 560px) {
       .menu {
           display: none;
           position: absolute;
           top: 160px;
           width: 100%;
           text-align: center;
           background: #eee;
       }
       .logo {
           position: relative;
           left: 10px;
       }
       .menu li {
           float: none;
       }
       .menuToggle {
           display: inline-block;
           position: absolute;
           top: 70px;
           left: 300px;
       }
   }
